    /*
    Flaticon icon font: Flaticon
    Creation date: 29/06/2017 12:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-technology-11:before { content: "\f100"; }
.flaticon-computer-1:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-router-1:before { content: "\f103"; }
.flaticon-router:before { content: "\f104"; }
.flaticon-wifi-1:before { content: "\f105"; }
.flaticon-wifi:before { content: "\f106"; }
.flaticon-wifi-logo:before { content: "\f107"; }
.flaticon-headphones-with-mic:before { content: "\f108"; }
.flaticon-microphone-for-a-singer-or-a-conference:before { content: "\f109"; }
.flaticon-call-service:before { content: "\f10a"; }
.flaticon-microphone-2:before { content: "\f10b"; }
.flaticon-headset:before { content: "\f10c"; }
.flaticon-microphone-1:before { content: "\f10d"; }
.flaticon-support:before { content: "\f10e"; }
.flaticon-microphone:before { content: "\f10f"; }
.flaticon-video-3:before { content: "\f110"; }
.flaticon-video-2:before { content: "\f111"; }
.flaticon-technology-10:before { content: "\f112"; }
.flaticon-technology-9:before { content: "\f113"; }
.flaticon-screen-3:before { content: "\f114"; }
.flaticon-technology-8:before { content: "\f115"; }
.flaticon-video-1:before { content: "\f116"; }
.flaticon-multimedia:before { content: "\f117"; }
.flaticon-screen-2:before { content: "\f118"; }
.flaticon-screen-1:before { content: "\f119"; }
.flaticon-water:before { content: "\f11a"; }
.flaticon-buildings:before { content: "\f11b"; }
.flaticon-technology-7:before { content: "\f11c"; }
.flaticon-technology-6:before { content: "\f11d"; }
.flaticon-fashion-2:before { content: "\f11e"; }
.flaticon-technology-5:before { content: "\f11f"; }
.flaticon-transport-6:before { content: "\f120"; }
.flaticon-restaurant:before { content: "\f121"; }
.flaticon-technology-4:before { content: "\f122"; }
.flaticon-technology-3:before { content: "\f123"; }
.flaticon-holidays-8:before { content: "\f124"; }
.flaticon-medical-2:before { content: "\f125"; }
.flaticon-holidays-7:before { content: "\f126"; }
.flaticon-holidays-6:before { content: "\f127"; }
.flaticon-holidays-5:before { content: "\f128"; }
.flaticon-holidays-4:before { content: "\f129"; }
.flaticon-transport-5:before { content: "\f12a"; }
.flaticon-departures:before { content: "\f12b"; }
.flaticon-lift-2:before { content: "\f12c"; }
.flaticon-technology-2:before { content: "\f12d"; }
.flaticon-cook:before { content: "\f12e"; }
.flaticon-drink-1:before { content: "\f12f"; }
.flaticon-transport-4:before { content: "\f130"; }
.flaticon-transport-3:before { content: "\f131"; }
.flaticon-screen:before { content: "\f132"; }
.flaticon-connection:before { content: "\f133"; }
.flaticon-people-10:before { content: "\f134"; }
.flaticon-bathroom-3:before { content: "\f135"; }
.flaticon-bathroom-2:before { content: "\f136"; }
.flaticon-bath:before { content: "\f137"; }
.flaticon-holidays-3:before { content: "\f138"; }
.flaticon-signs-2:before { content: "\f139"; }
.flaticon-people-9:before { content: "\f13a"; }
.flaticon-sofa-5:before { content: "\f13b"; }
.flaticon-sofa-4:before { content: "\f13c"; }
.flaticon-food-5:before { content: "\f13d"; }
.flaticon-office-1:before { content: "\f13e"; }
.flaticon-transport-2:before { content: "\f13f"; }
.flaticon-medical-1:before { content: "\f140"; }
.flaticon-holidays-2:before { content: "\f141"; }
.flaticon-holidays-1:before { content: "\f142"; }
.flaticon-holidays:before { content: "\f143"; }
.flaticon-food-4:before { content: "\f144"; }
.flaticon-couch-1:before { content: "\f145"; }
.flaticon-couch:before { content: "\f146"; }
.flaticon-office:before { content: "\f147"; }
.flaticon-lift-1:before { content: "\f148"; }
.flaticon-bathroom-1:before { content: "\f149"; }
.flaticon-school:before { content: "\f14a"; }
.flaticon-people-8:before { content: "\f14b"; }
.flaticon-people-7:before { content: "\f14c"; }
.flaticon-sofa-3:before { content: "\f14d"; }
.flaticon-people-6:before { content: "\f14e"; }
.flaticon-people-5:before { content: "\f14f"; }
.flaticon-clock-1:before { content: "\f150"; }
.flaticon-dressing:before { content: "\f151"; }
.flaticon-table-1:before { content: "\f152"; }
.flaticon-sofa-2:before { content: "\f153"; }
.flaticon-sofa-1:before { content: "\f154"; }
.flaticon-lift:before { content: "\f155"; }
.flaticon-beach:before { content: "\f156"; }
.flaticon-fashion-1:before { content: "\f157"; }
.flaticon-technology-1:before { content: "\f158"; }
.flaticon-cup-1:before { content: "\f159"; }
.flaticon-drink:before { content: "\f15a"; }
.flaticon-business:before { content: "\f15b"; }
.flaticon-food-3:before { content: "\f15c"; }
.flaticon-coins:before { content: "\f15d"; }
.flaticon-ladder:before { content: "\f15e"; }
.flaticon-clothes:before { content: "\f15f"; }
.flaticon-iron-1:before { content: "\f160"; }
.flaticon-signs-1:before { content: "\f161"; }
.flaticon-bathroom:before { content: "\f162"; }
.flaticon-iron:before { content: "\f163"; }
.flaticon-table:before { content: "\f164"; }
.flaticon-fashion:before { content: "\f165"; }
.flaticon-sofa:before { content: "\f166"; }
.flaticon-info:before { content: "\f167"; }
.flaticon-technology:before { content: "\f168"; }
.flaticon-sign:before { content: "\f169"; }
.flaticon-medical:before { content: "\f16a"; }
.flaticon-location:before { content: "\f16b"; }
.flaticon-food-2:before { content: "\f16c"; }
.flaticon-commerce:before { content: "\f16d"; }
.flaticon-clock:before { content: "\f16e"; }
.flaticon-person:before { content: "\f16f"; }
.flaticon-cup:before { content: "\f170"; }
.flaticon-transport-1:before { content: "\f171"; }
.flaticon-transport:before { content: "\f172"; }
.flaticon-arrows:before { content: "\f173"; }
.flaticon-tool-1:before { content: "\f174"; }
.flaticon-food-1:before { content: "\f175"; }
.flaticon-people-4:before { content: "\f176"; }
.flaticon-video:before { content: "\f177"; }
.flaticon-food:before { content: "\f178"; }
.flaticon-people-3:before { content: "\f179"; }
.flaticon-tool:before { content: "\f17a"; }
.flaticon-vintage-washing-machine:before { content: "\f17b"; }
.flaticon-silhouette:before { content: "\f17c"; }
.flaticon-people-2:before { content: "\f17d"; }
.flaticon-people-1:before { content: "\f17e"; }
.flaticon-people:before { content: "\f17f"; }
.flaticon-signs:before { content: "\f180"; }
    
    $font-Flaticon-technology-11: "\f100";
    $font-Flaticon-computer-1: "\f101";
    $font-Flaticon-computer: "\f102";
    $font-Flaticon-router-1: "\f103";
    $font-Flaticon-router: "\f104";
    $font-Flaticon-wifi-1: "\f105";
    $font-Flaticon-wifi: "\f106";
    $font-Flaticon-wifi-logo: "\f107";
    $font-Flaticon-headphones-with-mic: "\f108";
    $font-Flaticon-microphone-for-a-singer-or-a-conference: "\f109";
    $font-Flaticon-call-service: "\f10a";
    $font-Flaticon-microphone-2: "\f10b";
    $font-Flaticon-headset: "\f10c";
    $font-Flaticon-microphone-1: "\f10d";
    $font-Flaticon-support: "\f10e";
    $font-Flaticon-microphone: "\f10f";
    $font-Flaticon-video-3: "\f110";
    $font-Flaticon-video-2: "\f111";
    $font-Flaticon-technology-10: "\f112";
    $font-Flaticon-technology-9: "\f113";
    $font-Flaticon-screen-3: "\f114";
    $font-Flaticon-technology-8: "\f115";
    $font-Flaticon-video-1: "\f116";
    $font-Flaticon-multimedia: "\f117";
    $font-Flaticon-screen-2: "\f118";
    $font-Flaticon-screen-1: "\f119";
    $font-Flaticon-water: "\f11a";
    $font-Flaticon-buildings: "\f11b";
    $font-Flaticon-technology-7: "\f11c";
    $font-Flaticon-technology-6: "\f11d";
    $font-Flaticon-fashion-2: "\f11e";
    $font-Flaticon-technology-5: "\f11f";
    $font-Flaticon-transport-6: "\f120";
    $font-Flaticon-restaurant: "\f121";
    $font-Flaticon-technology-4: "\f122";
    $font-Flaticon-technology-3: "\f123";
    $font-Flaticon-holidays-8: "\f124";
    $font-Flaticon-medical-2: "\f125";
    $font-Flaticon-holidays-7: "\f126";
    $font-Flaticon-holidays-6: "\f127";
    $font-Flaticon-holidays-5: "\f128";
    $font-Flaticon-holidays-4: "\f129";
    $font-Flaticon-transport-5: "\f12a";
    $font-Flaticon-departures: "\f12b";
    $font-Flaticon-lift-2: "\f12c";
    $font-Flaticon-technology-2: "\f12d";
    $font-Flaticon-cook: "\f12e";
    $font-Flaticon-drink-1: "\f12f";
    $font-Flaticon-transport-4: "\f130";
    $font-Flaticon-transport-3: "\f131";
    $font-Flaticon-screen: "\f132";
    $font-Flaticon-connection: "\f133";
    $font-Flaticon-people-10: "\f134";
    $font-Flaticon-bathroom-3: "\f135";
    $font-Flaticon-bathroom-2: "\f136";
    $font-Flaticon-bath: "\f137";
    $font-Flaticon-holidays-3: "\f138";
    $font-Flaticon-signs-2: "\f139";
    $font-Flaticon-people-9: "\f13a";
    $font-Flaticon-sofa-5: "\f13b";
    $font-Flaticon-sofa-4: "\f13c";
    $font-Flaticon-food-5: "\f13d";
    $font-Flaticon-office-1: "\f13e";
    $font-Flaticon-transport-2: "\f13f";
    $font-Flaticon-medical-1: "\f140";
    $font-Flaticon-holidays-2: "\f141";
    $font-Flaticon-holidays-1: "\f142";
    $font-Flaticon-holidays: "\f143";
    $font-Flaticon-food-4: "\f144";
    $font-Flaticon-couch-1: "\f145";
    $font-Flaticon-couch: "\f146";
    $font-Flaticon-office: "\f147";
    $font-Flaticon-lift-1: "\f148";
    $font-Flaticon-bathroom-1: "\f149";
    $font-Flaticon-school: "\f14a";
    $font-Flaticon-people-8: "\f14b";
    $font-Flaticon-people-7: "\f14c";
    $font-Flaticon-sofa-3: "\f14d";
    $font-Flaticon-people-6: "\f14e";
    $font-Flaticon-people-5: "\f14f";
    $font-Flaticon-clock-1: "\f150";
    $font-Flaticon-dressing: "\f151";
    $font-Flaticon-table-1: "\f152";
    $font-Flaticon-sofa-2: "\f153";
    $font-Flaticon-sofa-1: "\f154";
    $font-Flaticon-lift: "\f155";
    $font-Flaticon-beach: "\f156";
    $font-Flaticon-fashion-1: "\f157";
    $font-Flaticon-technology-1: "\f158";
    $font-Flaticon-cup-1: "\f159";
    $font-Flaticon-drink: "\f15a";
    $font-Flaticon-business: "\f15b";
    $font-Flaticon-food-3: "\f15c";
    $font-Flaticon-coins: "\f15d";
    $font-Flaticon-ladder: "\f15e";
    $font-Flaticon-clothes: "\f15f";
    $font-Flaticon-iron-1: "\f160";
    $font-Flaticon-signs-1: "\f161";
    $font-Flaticon-bathroom: "\f162";
    $font-Flaticon-iron: "\f163";
    $font-Flaticon-table: "\f164";
    $font-Flaticon-fashion: "\f165";
    $font-Flaticon-sofa: "\f166";
    $font-Flaticon-info: "\f167";
    $font-Flaticon-technology: "\f168";
    $font-Flaticon-sign: "\f169";
    $font-Flaticon-medical: "\f16a";
    $font-Flaticon-location: "\f16b";
    $font-Flaticon-food-2: "\f16c";
    $font-Flaticon-commerce: "\f16d";
    $font-Flaticon-clock: "\f16e";
    $font-Flaticon-person: "\f16f";
    $font-Flaticon-cup: "\f170";
    $font-Flaticon-transport-1: "\f171";
    $font-Flaticon-transport: "\f172";
    $font-Flaticon-arrows: "\f173";
    $font-Flaticon-tool-1: "\f174";
    $font-Flaticon-food-1: "\f175";
    $font-Flaticon-people-4: "\f176";
    $font-Flaticon-video: "\f177";
    $font-Flaticon-food: "\f178";
    $font-Flaticon-people-3: "\f179";
    $font-Flaticon-tool: "\f17a";
    $font-Flaticon-vintage-washing-machine: "\f17b";
    $font-Flaticon-silhouette: "\f17c";
    $font-Flaticon-people-2: "\f17d";
    $font-Flaticon-people-1: "\f17e";
    $font-Flaticon-people: "\f17f";
    $font-Flaticon-signs: "\f180";