.t-check-in,.t-check-out{border-color:#ededed}.t-check-in{border-right-color:#e8e8e8}.t-date-title{color:#e91e63}
.t-special-day:before{border-color:#e91e63 #e91e63 transparent transparent}
.t-datepicker-day{border-color:#ffffff;background:#fff}.t-day,.t-disabled,.t-end,
.t-range,.t-start{background:#ffffff;border:solid 1px #fff;margin:2px;}.t-disabled{background:0 0}
.t-highlighted{color:#8a7e28;}.t-highlighted.t-disabled{background:#fafafa}
.t-end,.t-end-limit,.t-start{color:#fff;background:#ffdd00}.t-range,
.t-range-limit{color:#8a7e28}.t-range{background:#fffad7}
.t-range-limit{background:#fffad7}
.t-range-limit.t-end,
.t-range-limit.t-start{color:#fff;background:#89d9f8}
.t-check-in .t-end,.t-check-out .t-start,.t-check-out tr~.t-end{color:#fff;background:#ffdd00}
.t-hover-day,.t-hover-day-content,.t-hover-day:hover{color:#000000;font-weight: bold;background:#ffdd00;}
.t-hover-day::after{border-color:#ffdd00 transparent transparent}
.t-today,.t-today .t-hover-day-content{background:#aeaeae}
.t-today::after{border-top-color:#aeaeae}.t-today:hover,.t-today:hover .t-hover-day-content{background:#e8c900;}
.t-today:hover::after{border-top-color:#fffad7}.t-end.t-today,.t-start.t-today{color:#fff}
.t-end.t-today,.t-end.t-today .t-hover-day-content,.t-start.t-today,.t-start.t-today 
.t-hover-day-content{background:#ffdd00}
.t-end.t-today::after,.t-start.t-today::after{border-top-color:#ffdd00}